
<h3>Index</h3>

<ul>
    <li><a href="select2_widget">select2_widget</a></li>
    <li><a href="heavy_select2_widget">heavy_select2_widget</a></li>
    <li><a href="heavy_select2_multiple_widget">heavy_select2_multiple_widget</a></li>
    <li><a href="model_select2_widget">model_select2_widget</a></li>
    <li><a href="model_select2_tag_widget">model_select2_tag_widget</a></li>
    <li><a href="model_chained_select2_widget">model_chained_select2_widget</a></li>
    <li><a href="heavy_data_1">heavy_data_1</a></li>
    <li><a href="heavy_data_2">heavy_data_2</a></li>
    <li><a href="select2">select2</a></li>
</ul>
